@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf0da;
  --foreground: #1e1005;
}
.body {
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.img {
  background-image: url("https://cdn.prod.website-files.com/66de2f1572bcf866302fd41c/66de31ac32194f6e0e192eed_home_img_1-p-1600.webp");
}

.route-link {
  @apply relative inline-block text-[#FBF0DA] transition-colors duration-300;

  &::before {
    @apply absolute  bottom-0 h-[1px] w-0 bg-[#FBF0DA] transition-[width]  duration-500 ease-in-out;
    content: "";
  }

  &:hover::before {
    @apply w-full left-0;
  }

  &:not(:hover)::before {
    @apply w-0 right-0;
  }
}
.route-link {
  background: linear-gradient(to right, #fbf0da 50%, #a29685 50%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease-in-out;
}
.route-link:hover {
  background-position: -100%;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #171717; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Roundness of the scrollbar thumb */
  border: 3px solid #ffffff; /* Space around the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the scrollbar track */
}

/* For Firefox */
body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #171717 #f0f0f0; /* thumb color, track color */
}

.outline-text span {
  display: inline-block;
  color: transparent; /* Initial color as transparent */
  text-shadow: 0 0 5px #ff69b4; /* Outline effect with shadow */
  transition: color 0.5s ease, text-shadow 0.5s ease; /* Smooth fill transition */
}

.blur-effect {
  filter: blur(45px);
}
